{
  "root": true,
  "extends": [
    "eslint:recommended",
    "airbnb-base",
    "eslint-config-code-complexity",
    "plugin:security/recommended"
  ],
  "env": {
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "no-console": "off",
    "no-unused-vars": "off",
    "operator-linebreak": "off",
    "max-statements": ["error", 14],
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": "off"
  }
}
